
.nav {
    display: flex;
    justify-content: space-between;
}


.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a{
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

h1 a{
    color: blueviolet;
    text-decoration: none;
}

.search-box{
    margin-top: 10px;
    
}
/* .search-box input{
    padding-top: 10px;
    padding-bottom: 10px;

}
.search-box button{
    padding-top: 10px;
    padding-bottom: 10px;

} */
