.cart-page{

    border: 2px solid #ddd ;
    margin-top: 40px;
    margin-bottom: 60px;

}
.cart-page h1{
text-align: center;

}
.details img{
    height: 100px;


}

.details ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;
    border: 1px solid #ddd;
    
}

.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary h3{
    text-align: center;

}
.summary ul{
    border: 1px solid;
    margin-right: 20px;
}
.summary ul li{
    justify-content: space-between;
    display: flex;
    padding: 5px ;


}

