.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    text-align: left;
    cursor: pointer;
}

.sign-up h1{
    margin-top: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    text-align: center;
}